@{
    ViewBag.Title = "About";
}

<div>
    <h2>@ViewBag.Title</h2>
    <br />

    <p>This web application shows the data in Bakery database.</p>
    <p>It contains products and sales information that Bakery database holds</p>
    <p>Users can sign up as customers as well on the "Sign Up" page</p>
</div>