@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Name: Jialiang Li<br />
    Address: 110th AVE SE Seattle WA<br />
    Phone: (206)604-4699<br />
    Email <a href="mailto:JLi@example.com">JLi@example.com</a><br />
</address>